@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #030711;
  overflow-x: hidden;
}

nav {
  align-items: center;
  border-bottom: 1px solid #e5e7eb4c !important;

  img {
    width: 2.6em;
    transition: 0.5s;

    &:hover {
      -webkit-transform: scale(1.1) rotate(20deg) translate(-10px, 0px);
      -moz-transform: scale(1.1) rotate(20deg) translate(-10px, 0px);
      -ms-transform: scale(1.1) rotate(20deg) translate(-10px, 0px);
      -o-transform: scale(1.1) rotate(20deg) translate(-10px, 0px);
      transform: scale(1.1) rotate(20deg) translate(-10px, 0px);
    }
  }

  button {
    color: white !important;
    border: 2px solid grey !important;

    i {
      color: grey !important;
      transition: 0.5s;

      &:hover {
        color: #0d6efd !important;
      }
    }
  }
}

.nav-link {
  text-decoration: none;
  color: grey !important;
  font-size: 1.2em;
  transition: 0.3s !important;

  &:hover {
    transform: translateY(-5px);
    color: #0d6efd !important;
  }
}

h5 {
  font-size: 1.2rem;
}

.left-side,
.right-side {
  box-sizing: border-box;
  padding: 1rem;
}

.right-side {
  overflow-y: scroll;
  scrollbar-color: #0d6efd transparent;
  scrollbar-width: thin;
  margin-bottom: 12px;
  height: 75vh;
  transition: 0.5s;
  position: relative;

  h5 {
    letter-spacing: 1px;
    margin-top: 5px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;


    &:hover {
      color: #0d6efd;
      letter-spacing: 2px;
    }
  }

  .card {
    color: #0d6efd;
  }

  .messages {
    bottom: 0;
    position: absolute;
    margin: 1rem;
    background-color: #101827 !important;
    width: 100%;


    .input-group {
      width: 95%;

      .btn {
        background-color: #0d6efd;
        color: white;
        border: 2px solid #0d6efd;
        transition: 0.5s;

        &:hover {
          background-color: white;
          color: #0d6efd;
        }

        i {
          transition: 0.5s;
          color: #FFF;
        }

        &:hover i {
          color: #0d6efd;
        }
      }
    }
  }
}

.right-side>* {
  margin-bottom: 12px;
}

.left-side {
  border-right: 1px solid #e5e7eb4c;

  li {
    cursor: pointer;
    list-style: none;


    &:hover {
      background-color: #0d6efd;
      transition: background-color 0.2s linear;
    }

    &:hover h5 {
      color: #FFF !important;
      transition: color 0.2s linear;
    }
  }
}

.chat {
  background-color: #101827;
  width: 90%;
  margin: 0 auto;
  border-radius: 0.25rem;
  padding: 1rem;
}

.list-group-item {
  background-color: #FFF;
  border-radius: 0.25rem;
}

.card {
  background-color: #101827;
  padding: 1rem;

  .card-header {
    gap: 10px;
    display: flex;
    align-items: center;
  }

  .btn {
    background-color: #0d6efd !important;
    color: white !important;
  }
}

.input-group {

  input {
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    color: #FFF;
    font-size: 0.8em;
    transition: 0.5s;

    &:focus {
      outline: none;
    }
  }
}

// TODO: À MODIFIER

.avatar {
  width: 50px;
  height: 50px;
}

@media (max-width: 768px) {
  .chat {
    h3 {
      font-size: 1rem;
    }
  }

  .list-group-item {
    h5 {
      display: none;
    }
  }

  .avatar {
    width: 40px;
    height: 40px;
  }

  p {
    font-size: 0.8em;
  }

}