@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$primary-color: #101827;
$secondary-color: #0d6efd;
$separation-color: #e5e7eb4c;
$grey-color: #6c757d;

* {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

body {
  background-color: #030711;
  overflow-x: hidden;
}


nav {
  align-items: center;
  border-bottom: 1px solid $separation-color !important;

  img {
    width: 2.6em;
    transition: 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }

  button {
    color: #FFF !important;
    border: 2px solid $grey-color !important;

    i {
      color: $grey-color !important;
      transition: 0.5s;

      &:hover {
        color: $secondary-color !important;
      }
    }
  }
}

.nav-link {
  text-decoration: none;
  color: $grey-color !important;
  font-size: 1.2em;
  transition: 0.7s !important;

  &:hover {
    color: $secondary-color !important;
  }

  &.active {
    color: $secondary-color !important;
  }
}

h5 {
  font-size: 1.2rem;
}

.left-side,
.right-side {
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 1rem;
  height: 80vh;
  overflow-y: scroll;
  scrollbar-color: $secondary-color transparent;
  scrollbar-width: thin;
}


.right-side {
  margin-bottom: 12px;
  transition: 0.5s;
  position: relative;

  .avatar {
    width: 40px;
    height: 40px;
  }

  h5 {
    letter-spacing: 1px;
    margin-top: 5px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;


    &:hover {
      color: $secondary-color !important;
    }
  }


  .card {
    color: $secondary-color;
    max-width: 80%;
    border: none;

    &>* {
      background-color: transparent;
      border: none;
    }
  }

  .messages {
    background-color: $primary-color !important;
    position: absolute;
    bottom: 0;
    width: 95%;

    .input-group {

      .btn {
        background-color: $secondary-color;
        color: #FFF;
        border: 2px solid $secondary-color;
        transition: 0.2s;

        &:hover {
          background-color: white;
          color: $secondary-color;
        }

        i {
          transition: 0.5s;
          color: #FFF;
        }

        &:hover i {
          color: $secondary-color;
        }
      }
    }
  }
}

.right-side>* {
  margin-bottom: 12px;
}

.left-side {
  border-right: 1px solid $separation-color;

  h2 {
    font-size: 2rem;
  }

  .card {
    color: $secondary-color;
    max-width: 80%;
  }

  li {
    list-style: none;
    transition: background-color 0.2s linear, transform 0.2s linear;
    user-select: none;


    &:hover {
      background-color: $secondary-color !important;
      transform: scale(0.95);
    }

    h5 {
      cursor: default;
      text-align: center;
    }

    &:hover h5 {
      color: #FFF !important;
      transition: color 0.2s linear;
    }
  }
}

.chat {
  background-color: $primary-color;
  width: 90%;
  margin: 0 auto;
  border-radius: 0.25rem;
  padding: 1rem;

  .input-group {
    padding-left: 1rem;
  }
}

.messages-section {
  overflow-y: scroll;
  scrollbar-color: $secondary-color transparent;
  scrollbar-width: thin;
  height: 90%;

  .left-body {
    border-radius: 0.8rem 0.8rem 0.8rem 0;
  }

  .right-body {
    border-radius: 0.8rem 0.8rem 0 0.8rem;
  }
}

.list-group-item {
  border-radius: 0.25rem;
}

.card {
  background-color: $primary-color;
  padding: 1rem;
  transition: 0.5s;

  .card-header {
    gap: 10px;
    display: flex;
    align-items: center;
  }

  .btn {
    background-color: $secondary-color !important;
    color: #FFF !important;
  }

  &:hover {
    transform: translateY(-5px);

  }

  * {
    user-select: none;
  }

}


.card:hover .text-muted {
  display: flex;
  opacity: 1;
}

.text-muted {
  opacity: 0;
  transition: 0.7s;
}

.autocomplete-items {
  position: absolute;
  // border: 1px solid $secondary-color;
  border-bottom: none;
  z-index: 99;
  top: auto;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: $primary-color;
  color: $secondary-color;
  max-height: 200px;
  transition: 0.5s;
  padding-top: 10px;

  li {
    list-style: none;
    cursor: pointer;
    transition: 0.5s;
  }

  li::before {
    content: "- ";
  }

  &>*:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }
}

.input-group {
  input {
    border-radius: 0.25rem;
    color: $grey-color;
    font-size: 0.8em;
    transition: 0.5s;

    &:focus {
      outline: none;
    }
  }
}

// TODO: À MODIFIER

.avatar {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.login {
  height: 70vh;
  width: 30vw;
}

.login-avatar {
  width: 200px;
  height: 200px;
}

.code-area {
  position: absolute;
  width: 320px;
  min-width: 320px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.code-area>span {
  display: block;
}

.card-bots:active {
  transition: 0.2s;
  transform: translateY(0px);
}

.allowTextCopy {
  user-select: text;
}

.commands {
  font-size: 0.9em;
}

.animation-bots {
  animation: animation-bots 0.8s;
  animation-fill-mode: forwards;
}

.animation-chat {
  animation: animation-chat 0.5s;
  animation-fill-mode: forwards;
}

@keyframes animation-bots {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes animation-chat {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 320px) {
  .code-area {
    font-size: 5vw;
    min-width: auto;
    width: 95%;
    margin: auto;
    padding: 5px;
    padding-left: 10px;
    line-height: 6.5vw;
  }
}

@media (max-width: 768px) {
  .chat {
    width: 100%;
    padding: 0;
    height: 85vh;

    .input-group {
      padding: 0;
      width: 90%;
      margin: 0 auto;
    }

    h3 {
      font-size: 1rem;
    }
  }

  .list-group-item {
    h5 {
      display: none;
    }
  }

  p {
    font-size: 0.8em;
  }

  .right-side {
    width: 100%;
    display: flex;
    justify-items: center;

    .messages {
      margin: 0 auto;
    }
  }

  .nav-link {
    font-size: 1em;
  }

  .card-title {
    font-size: 1em;
  }

  .card-text {
    font-size: 0.7em;
  }

  .left-side {
    display: none;

    h2 {
      display: none;
    }
  }

  .user-name {
    font-size: 1em;
  }
}