@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: #030711;
  overflow-x: hidden;
}

nav {
  align-items: center;
  border-bottom: 1px solid #e5e7eb4c !important;

  img {
    width: 3em;
    transition: 0.5s;
  }

  img:hover {
    -webkit-transform: scale(1.2) rotate(20deg) translate(-10px, 0px);
    -moz-transform: scale(1.2) rotate(20deg) translate(-10px, 0px);
    -ms-transform: scale(1.2) rotate(20deg) translate(-10px, 0px);
    -o-transform: scale(1.2) rotate(20deg) translate(-10px, 0px);
    transform: scale(1.2) rotate(20deg) translate(-10px, 0px);
  }

  button {
    color: white !important;
    border: 2px solid grey !important;

    i {
      color: grey !important;
      transition: 0.5s;
    }

    i:hover {
      color: #0d6efd !important;
    }
  }
}

.nav-link {
  text-decoration: none;
  color: grey !important;
  font-size: 1.5em;
  transition: 0.3s !important;
}

.nav-link:hover {
  transform: translateY(-5px);
  color: #0d6efd !important;
}

.left-side,
.right-side {
  box-sizing: border-box;
  padding: 1rem;
}

.left-side {
  border-right: 1px solid #e5e7eb4c;
}

.messages {
  height: 80vh;
  box-sizing: border-box;
  background-color: #101827;
  width: 90%;
  margin: 0 auto;
  border-radius: 0.25rem;
  padding: 1rem;
}

.card {
  background-color: #101827;
  padding: 1rem;

  .btn {
    background-color: #0d6efd !important;
    color: white !important;
  }
}

// TODO: À MODIFIER
.chat {
  overflow-y: scroll;
  margin-bottom: 12px;
  height: 80vh;
  border: 1px solid red;
  background-color: lightblue;
}

.chat > * {
  margin-bottom: 12px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
